<h1>All Categories</h1>

<% @categories.each do |category| %>
  <ul>
    <li><%= link_to "#{category.name}", admin_category_path(category) %></li>
  </ul>
<% end  %><br>

<%= link_to "New Gif", new_admin_category_path %><br>
<%= link_to "See all Gifs", gifs_path %>
